body {
    background-image: url(../images/b4.png)
  }
  
  
  
  #myName {
      color:darkgreen;
      text-align: center;
  } 
  
  .info {
      text-align: center;
      color:darkslategray;
      font-weight: bold;
      margin: 50px;
      padding: 30px;
      border-color: darkolivegreen;border-style:double ; border-width: 20px;
       
  }

  nav{
      color:green
  }